button {
  padding: 5px 8px;
  font-family: inherit;
  border: none;
  border-radius: 4px;

  &.full {
    width: 100%;
  }
}

.success {
  background-color: #6CC8A3;
  color: white;
}

.danger {
  background-color: #C86C6C;
  color: white;
}

.edit {
  background-color: #6CA4C8;
  color: white;
}