table.table {
  thead {
    tr th {
      background-color: #262B46;
      color: white;
      padding: 4px;
    }
  }
  tbody {
    tr td {
      padding: 4px 10px;
    }
    tr:nth-child(even) {
      background-color: #EBF5FB;
    }

    tr:nth-child(odd) {
      background-color: #F6F6F6;
    }
  }
}
table.max-width {
  width: 100%;
}

td.text-center {
  text-align: center;
}
